body{
    background-image: linear-gradient(#5AC0DF, #8269E8, #D03BF4);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(175, 79, 239, 0.8), rgba(96, 180, 225, 0.8)),url("../Resources/sign_up_wallpaper.jpg");

}
.elements:hover{
    transform: scale(1.3);
    transition: ease-in-out 0.5s;
}
a{
    text-decoration: none;
    color: white;
}
#title_bar{
/*    background-color: black;*/
    width: 100%;
    height: 8vh;
    display: flex;
    color: white;
    align-content: center;
    font-family: "Arial", "Helvetica", sans-serif;
    position: fixed;
    z-index: 1;
}
#title_name{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 1vw;
    margin-right: 48vw;
    margin-top: 2vh;
    text-shadow: 5px 5px 30px black;
}
.elements{
    font-size: 20px;
    margin-right: 2vw;
/*    text-shadow: 2px 2px 2px black;*/
}
#get_started{
    width: 10vw;
    height: 6vh;
    margin-top: 1vh;
    background-color: transparent;
    border: 2px white solid; 
    border-radius: 10px;
    color: white;
    font-family:  "Arial", "Helvetica", sans-serif;
    font-size: 15px;  
}

#get_started:hover{
    background-color: rgba(96, 180, 225, 0.8);
}

#left{
/*    background-color: red;*/
    width: 40vw;
    height: 80vh;
    margin-left: 5vw;
    margin-top: 10vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding: 2vw;

}
#left_main{
    font-family: "verdana";
    font-size: 5rem;
    letter-spacing: 2px;
}
#left_main span{
    font-size: 1.6rem;
    line-height: 5vh;
    font-family: "arial";
    font-weight: lighter;
}
#log-in{
    width: 10vw;
    height: 6vh;
    margin-top: 1vh;
    background-color: transparent;
    border: 1px white solid; 
    border-radius: 10px;
    color: white;
    font-family:  "Arial", "Helvetica", sans-serif;
    font-size: 15px;  
}
#log-in:hover{
    background-color: rgba(175, 79, 239, 0.8);
}
#right{
    width: 30vw;
    height: 65vh;
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 2vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}
#right h1{
    font-family: "verdana";
    font-weight: lighter;
}
.sign-up-area{
    background-color: #F2F2F2;
    border: none;
    padding: 1vw;
    border-radius: 5px;
    width: 85%;
    font-size: 20px;
    font-family: "arial";
    font-weight: lighter;
    margin-top: 3vh;
    
}
label{
    font-family: "arial";
    
}

#register{
    color: white;
    background-color: #806FE8;
    border-radius: 40px;
    width: 70%;
}